<ion-view view-title="历史订单">
    <ion-content padding="false">
        <ion-refresher
            pulling-text="下拉刷新"
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item collection-repeat="item in items">
                <span class="pull-left">{{ item.order_id }}</span>
                <span class="pull-right" ng-class="{'calm':item.order_status == 5}">{{item.order_status | orderStatusFilter}}</span>
                <div ng-if="item.order_type == 1" style="margin:15px 0;">
                    <a class="button button-positive button-outline button-small " ng-click="goto('{{item.order_id}}',{{item.supplie_id}},{{item.order_status}})">查看</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 1" href="javascript:///;" ng-click="del(item.order_id)">删除</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 1" href="javascript:///" ng-click="submitOrder(item.order_id)">提交</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 4" href="javascript:///" ng-click="submitOrder(item.order_id)">收货</a>
                    <a class="button button-positive button-outline button-small button-reject" ng-if="item.order_status == 5 && item.order_reject == 0 && user.role_type == 2" href="javascript:///;" ng-click="gotoReject('{{item.order_id}}',item.supplie_id)">拒收</a>
                </div>
                <div ng-if="item.order_type == 2">
                    <a class="button button-positive button-outline button-small " ng-click="goto('{{item.order_id}}',{{item.supplie_id}},{{item.order_status}})">查看</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status==1" href="javascript:///;" ng-click="del(item.order_id)">删除</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 1" href="javascript:///" ng-click="submitOrder(item.order_id)">询价</a>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>