<ion-slide-box delegate-handle="homepage">
    <ion-slide show-pager=true>
        <ion-view view-title="首页">
            <div class="searchheader">
                <i class="icon ion-eye" ng-click="gotoCategory()"></i>
                <input type="text" ng-model="search.good_name" placeholder="搜索品名、拼音简写" />
                <i class="icon ion-search" ng-click="psearch()" ></i>
            </div>
            <ion-content padding="false">
                <div class="homepage swiper">
                    <ion-slide-box>
                        <ion-slide ng-repeat="item in focus">
                            <div class="box pink">
                                <img src="img/scroll.png" ng-src="{{item.src}}" class="scale" ng-click="showBigPic(item.src)" />
                            </div>
                        </ion-slide>
                    </ion-slide-box>

                </div>
                <div class="menus">
                    <a href="javascript:///;" ng-click="gotoCategory()">
                        <i class="m_01"></i>
                    </a>
                    <a href="#" ng-click="gotoNewOrder()">
                        <i class="m_02"></i>
                    </a>
                    <a href="#">
                        <i class="m_03"></i>
                    </a>
                    <a href="#">
                        <i class="m_04"></i>
                    </a>
                </div>
                <div class="tj_list clearfix">
                    <div class="main_tj">
                        <img ng-src="{{adlist[0].src}}" class="scale" ng-click="showBigPic(adlist[0].src)" />
                    </div>
                    <div class="sub_tj">
                        <img ng-src="{{adlist[1].src}}" class="scale" ng-click="showBigPic(adlist[1].src)" />
                        <img ng-src="{{adlist[2].src}}" class="scale" ng-click="showBigPic(adlist[2].src)" />
                    </div>
                </div>
                <div class="tj_list clearfix">
                    <div class="main_tj">
                        <img ng-src="{{adlist[3].src}}" class="scale" ng-click="showBigPic(adlist[3].src)" />
                        <img ng-src="{{adlist[4].src}}" class="scale" ng-click="showBigPic(adlist[4].src)" />
                    </div>
                    <div class="sub_tj">
                        <img ng-src="{{adlist[5].src}}" class="scale" ng-click="showBigPic(adlist[5].src)" />
                    </div>
                </div>
                <div class="tj_list clearfix">
                    <div class="main_tj">
                        <img ng-src="{{adlist[6].src}}" class="scale" ng-click="showBigPic(adlist[6].src)" />
                    </div>
                    <div class="sub_tj">
                        <img ng-src="{{adlist[7].src}}" class="scale" ng-click="showBigPic(adlist[7].src)" />
                        <img ng-src="{{adlist[8].src}}" class="scale" ng-click="showBigPic(adlist[8].src)" />
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="药品市场">
            <div class="market-header">
                    <i class="icon ion-android-arrow-back" ng-click="gotoParent()"></i>
                    <span>{{market_title}}</span>
                </div>
            <ion-content padding="false">
                <div style="margin-top:45px;"></div>
                <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">
                </ion-refresher>
                <div class="list" padding>
                    <div ng-repeat="item in items" href="javascript:///;" class="market-list">
                        <div style="float:left">
                            <img ng-src="{{host}}/{{item.good_img}}" style="width:70px;" />
                            <div class="actions" ng-if="user.role_type==2">
                                <i class="icon ion-android-remove" ng-click="changeNumber(item.good_id, -1)"></i>
                                <input type="text" ng-model="formData[item.good_id]" value=0 />
                                <i class="icon ion-android-add" ng-click="changeNumber(item.good_id,1)"></i>
                            </div>
                            <a ng-if="user.role_type==2" href="javascript:///;" class="buy" ng-click="buy(item.good_id, item.good_company,item.good_id)">购买</a>
                        </div>
                        <div>
                            <h2>{{ item.good_name }}</h2>
                            <span>规格：{{ item.good_gg }}</span>
                            <span>生产商：{{ item.good_cp }}</span>
                            <span>供应商：{{ item.company_name }}</span>
                            <div class="center">
                                <span class="center" style="color:#47e0de">批价:{{item.good_price | toInt}}</span>
                                <span class="center" style="color:#e52f00">零价:{{item.good_lsj | toInt}}</span>
                                <span class="center" style="color:#24d40f">折扣:{{item.good_price/item.good_lsj*100 | toTotalInt}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="hasNoData" class="emptydata">
                        暂无数据
                    </div>
                </div>
                <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="药品分类">
            <div class="market-header">
                    <i class="icon ion-android-arrow-back" ng-click="boxgoto(0)"></i>
                    <span>{{market_title}}</span>
                </div>
            <ion-content padding="false">
                <div style="margin-top:45px;"></div>
                <div class="box-category">
                    <div class="category-left">
                        <!--a href="javascript:///;" ng-click="changeCat(0, -1)" ng-class="{'active':-1==filterData.category_0}">不限</a-->
                        <a ng-repeat="cats in categories.data" ng-class="{'active':cats.id==filterData.category_0}" href="javascript:///;" ng-click="changeCat(0, cats.id)">{{cats.name}}</a>
                    </div>
                    <div class="category-right">
                        <div class="" ng-repeat = "cats in categories_1">
                            <div class="subtitle">{{cats.name}}</div>
                            <ul class="clearfix">
                                <li ng-repeat="icat in cats.children" ng-click="changeCat(2, icat.id)">
                                    <img ng-src="{{host}}/static/cats/{{icat.icon}}" />
                                    <span>{{icat.name}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="填写订单">
            <div class="market-header">
                <i class="icon ion-android-arrow-back" ng-click="boxgoto(0)"></i>
                <span>{{market_title}}</span>
            </div>
            <ion-content>
                <div style="margin-top:45px;"></div>
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">供货商</span>
                    <input readonly="" ng-click="gotoSearchSupplie()" type="text" placeholder="点击选择供货商" ng-model="neworder.supplie_name">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">订货人</span>
                    <input type="text" readonly placeholder="" ng-model="neworder.order_oper">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">订单备注</span>
                    <input type="text" placeholder="" ng-model="neworder.order_beizu">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">订单日期</span>
                    <input type="text" placeholder="" ng-model="neworder.order_date">
                  </label>
                  <label class="item item-input hide">
                    <span class="input-label">订单类型</span>
                    <input type="text" readonly placeholder="" ng-model="neworder.order_type">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">企业编号</span>
                    <input type="text" readonly placeholder="" ng-model="neworder.comp_id">
                  </label>
                </div>
                <div class="padding feedback"  ng-click="processForm()">
                    <button class="button button-block button-light">提交</button>
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="选择企业">
            <ion-content>
                <div class="list">
                  <div class="item item-input-inset" style="border-top:none;">
                    <label class="item-input-wrapper">
                      <input type="text" placeholder="输入企业拼音搜索" ng-model="query.key">
                    </label>
                    <button class="button button-small" ng-click="SearchComp()">
                      确认
                    </button>
                  </div>
                  <div class="item" ng-repeat="item in suggest_comp_list" ng-click="selectCompany(item.id, item.name)">
                        {{item.id}} {{item.name}}
                  </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
</ion-slide-box>