
<ion-view view-title="拒收订单">
    <div class="searchheader">
        <i class="icon ion-eye"></i>
        <input type="text" />
        <i class="icon ion-search" ></i>
    </div>
    <ion-content padding="false">
        <div class="homepage swiper">
            <img src="img/home/PNG05.png" class="scale" />
        </div>
        <div class="menus">
            <a href="#">
                <i class="m_01"></i>
            </a>
            <a href="#">
                <i class="m_02"></i>
            </a>
            <a href="#">
                <i class="m_03"></i>
            </a>
            <a href="#">
                <i class="m_04"></i>
            </a>
        </div>
        <div class="tj_list clearfix">
            <div class="main_tj">
                <img src="img/home/PNG13.png" class="scale" />
            </div>
            <div class="sub_tj">
                <img src="img/home/PNG14.png" class="scale" />
                <img src="img/home/PNG15.png" class="scale" />
            </div>
        </div>
        <div class="tj_list clearfix">
            <div class="main_tj">
                <img src="img/home/PNG14.png" class="scale" />
                <img src="img/home/PNG15.png" class="scale" />
            </div>
            <div class="sub_tj">
                <img src="img/home/PNG18.png" class="scale" />

            </div>
        </div>
        <div class="tj_list clearfix">
            <div class="main_tj">
                <img src="img/home/PNG21.png" class="scale" />
            </div>
            <div class="sub_tj">
                <img src="img/home/PNG22.png" class="scale" />
                <img src="img/home/PNG23.png" class="scale" />
            </div>
        </div>
    </ion-content>
</ion-view>