<ion-slide-box delegate-handle="homepage">
    <ion-slide show-pager=true>
        <ion-view view-title="我的">
            <div class="market-header">
                <span>{{market_title}}</span>
            </div>
            <ion-content padding="false">
                <div class="homepage swiper" style="margin-top:45px;">
                    <ion-slide-box>
                        <ion-slide ng-repeat="item in list">
                            <div class="box pink">
                                <img ng-src="{{item.src}}" class="scale" ng-click="showBigPic(item.src)" />
                            </div>
                        </ion-slide>
                    </ion-slide-box>

                </div>
                <div class="menus memenus">
                    <a href="javascript:///;" ng-click="gotoMinglu()">
                        <i class="m_10" ></i>
                        <span>客户名录</span>
                    </a>
                    <a href="javascript:///;" ng-click="gotoChangePass()">
                        <i class="m_05" ></i>
                        <span>修改密码</span>
                    </a>
                    <a href="javascript:///;">
                        <i class="m_07" ng-click="gotoFeedback()"></i>
                        <span>意见反馈</span>
                    </a>
                    <a href="javascript:///;">
                        <i class="m_08" ng-click="gotoAboutUs()"></i>
                        <span>关于我们</span>
                    </a>
                    <a href="javascript:///;">
                        <i class="m_09" ng-click="logout()"></i>
                        <span>退出登录</span>
                    </a>
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="促销信息">
            <div class="market-header">
                    <i class="icon ion-android-arrow-back" ng-click="boxgoto(0)"></i>
                    <span>{{market_title}}</span>
                </div>
            <ion-content padding="false">
                <div style="margin-top:45px;"></div>
                <ion-refresher pulling-text="下拉刷新" on-refresh="getPush()">
                </ion-refresher>
                <div ng-repeat="item in promotions" style="padding:10px;border-bottom:1px solid #ccc;">
                    <div class="calm" style="color:#999">{{ item.title }}</div>
                    <p style="white-space: inherit;">{{ item.msg }}</p>
                    <div class="sub-promotion">
                        <span style="color:#f93">{{ item.name }}</span>
                        <span style="color:#CCC;">{{item.create_date|filterDate}}发布</span>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="关于我们">
            <div class="market-header">
                <i class="icon ion-android-arrow-back" ng-click="boxgoto(0)"></i>
                <span>{{market_title}}</span>
            </div>
            <ion-content padding style="padding:10px;">
                <div style="margin-top:45px;"></div>
                <div class="about-us">
                    关于我们的一些纯文字性的介绍
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="意见反馈">
            <div class="market-header">
                <i class="icon ion-android-arrow-back" ng-click="boxgoto(0)"></i>
                <span>{{market_title}}</span>
            </div>
            <ion-content padding style="padding:10px;">
                <div style="margin-top:45px;"></div>
                <div class="feedback">
                    <textarea placeholder="请输入您的宝贵意见" ng-model="feedbackmsg">{{feedbackmsg}}</textarea>
                    <button class="button button-light button-block" ng-click="postFeedback(feedbackmsg)">
                      提交
                    </button>
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="修改密码">
            <div class="market-header">
                <i class="icon ion-android-arrow-back" ng-click="boxgoto(0)"></i>
                <span>{{market_title}}</span>
            </div>
            <ion-content>
                <div style="margin-top:45px;"></div>
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="原密码" ng-model="cpass.oldpass">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="新密码" ng-model = "cpass.newpass">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="再次输入新密码" ng-model="cpass.newpass2">
                  </label>
                </div>
                <div class="padding feedback"  ng-click="processPass()">
                    <button class="button button-block button-light">确认提交</button>
                </div>
            </ion-content>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view view-title="企业名录">
            <div class="market-header">
                    <i class="icon ion-android-arrow-back" ng-click="boxgoto(0)"></i>
                    <span>{{market_title}}</span>
                </div>
            <ion-content padding="false">
                <div style="margin-top:45px;"></div>
                <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">
                </ion-refresher>
                <div class="track-tabs">
                    <span ng-class="{'selected':companyStatus==2}" ng-click="cTab(2)">已开户</span>
                    <span ng-class="{'selected':companyStatus==-1}" ng-click="cTab(-1)">未开户</span>
                    <span ng-class="{'selected':companyStatus==0}" ng-click="cTab(0)">申请中</span>
                    <span ng-class="{'selected':companyStatus==1}" ng-click="cTab(1)">已拒绝</span>
                </div>
                <div ng-if="hasNoData" class="emptydata">
                    暂无数据
                </div>
                <div ng-repeat="item in RelateData" style="padding:10px;border-bottom:1px solid #ccc;">
                    <div class="calm" style="color:#333">{{ item.name }}</div>
                    <p style="white-space: inherit;color:#999;margin-top:10px;">
                        <span>联系人：{{ item.contact }}</span>
                        <span class="pull-right" style="width:50%;">联系电话：{{item.phone}} {{item.mobile}}</span>
                    </p>
                    <p style="white-space: inherit;color:#999;margin-top:10px;" ng-if="user.role_type==1">
                        <span>经营面积：{{ item.jymj }}</span>
                        <span class="pull-right" style="width:50%;">日均流水：{{item.rjls}}</span>
                    </p>
                    <p style="white-space: inherit;color:#999;margin-top:10px;" ng-if="user.role_type==1">
                        <span>雇员人数：{{ item.gyrs }}</span>
                        <span class="pull-right" style="width:50%;">经营品种数：{{item.jypz}}</span>
                    </p>
                </div>
                <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
            </ion-content>
        </ion-view>
    </ion-slide>
</ion-slide-box>