<ion-view view-title="">
    <ion-nav-buttons side="primary">
        <button class="button button-positive button-royal" ng-click="setOrderType(0)">
            全部订单
        </button>
        <button class="button button-positive button-royal" ng-click="setOrderType(1)">
            直接订单
        </button>
        <button class="button button-positive button-royal" ng-click="setOrderType(2)">
            询价订单
        </button>
    </ion-nav-buttons>
    <ion-content padding="false">
        <ion-list>
            <ion-item collection-repeat="item in items">
                <span>{{ item.order_id }}</span>
                <span>{{item.order_status | orderStatusFilter}}</span>
                <div ng-if="item.order_type == 1">
                    <a class="button button-positive button-outline button-small " ng-click="goto('{{item.order_id}}',{{item.supplie_id}},{{item.order_status}})">查看</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 1" href="javascript:///;" ng-click="del(item.order_id)">删除</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 1" href="javascript:///" ng-click="submitOrder(item.order_id)">提交订单</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 4" href="javascript:///" ng-click="submitOrder(item.order_id)">确认收货</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 5 && item.order_reject == 0" href="#/reject/orderItem/{{item.order_id}}/{{item.supplie_id}}">拒收货物</a>
                </div>
                <div ng-if="item.order_type == 2">
                    <a class="button button-positive button-outline button-small " ng-click="goto('{{item.order_id}}',{{item.supplie_id}},{{item.order_status}})">查看</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status==1" href="javascript:///;" ng-click="del(item.order_id)">删除</a>
                    <a class="button button-positive button-outline button-small " ng-if="item.order_status == 1" href="javascript:///" ng-click="submitOrder(item.order_id)">开始询价</a>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>