<ion-view view-title="订单详情">
    <ion-nav-buttons side="left">
        <button class="button icon ion-arrow-left-c" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="processForm()">提交</button>
    </ion-nav-buttons>
    <ion-content padding="false">
        <div class="card" padding="false">
          <div class="item item-text-wrap" ng-repeat="item in items track by $index" padding="false">
            <div class="list">
                <div class="item">ID:<span>{{formData[$index].oid}}</span></div>
                <div class="item">药品ID:<span>{{item.good_id}}</span></div>
                <div class="item">药品名称:<span>{{item.good_name}}</span></div>
                <div class="item">药品规格:<span>{{item.good_gg}}</span></div>
                <div class="item">单位:<span>{{item.good_dw}}</span></div>
                <div class="item">厂牌:<span>{{item.good_cp}}</span></div>
                <div class="item">批准文号:<span>{{item.good_pzwh}}</span></div>
                <div class="item">数量:<span>{{item.good_number}}</span></div>
                <div class="item">单价:<span>{{item.good_price}}</span></div>
                <div class="item">总价:<span>{{item.good_amount}}</span></div>
                <div class="item">
                    拒收数量:
                    <input class="" type="number" ng-model="formData[$index].good_reject" style="border:1px solid #ccc;text-align:center;" />
                </div>
            </div>
          </div>
        </div>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

