<ion-view view-title="登录">
    <ion-content>
        <div class="logo">
            <img src="img/login/PNG01.png" class="scale" />
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" ng-model="user.password">
            </label>

            <div class="item item-checkbox">
             <label class="checkbox">
                <input type="checkbox" ng-model="rememberPass" ng-change="change()" />
             </label>
             记住密码
         </div>
        </div>
        <div class="padding">
            <button style="background-color:#fd9d22;border:1px solid #fd9d22;" class="button button-block button-balanced" ng-click="signIn(user)">
                登录
            </button>
            <!--p class="text-center">
        <a href="#/forgot-password">Forgot password</a>
      </p-->
        </div>
    </ion-content>
</ion-view>