/* Empty. Add your own CSS if you like */

.pull-right{
	float:right;
}
.button.button-positive.button-outline{
	padding:2px 20px;
	color:#6eb3f8;
	border-color:#6eb3f8;
	border-radius: 10px;
	margin:0 10px 0 0;
	line-height: 18px;
    padding: 0px 16px;
    background-color: #6eb3f8;
    color: white;
    font-size: 12px;
    min-height: 22px;
    border-radius: 4px;
}
.button.button-positive.button-outline.yellow{
	padding:2px 20px;
	color:#f3b35c;
	border-color:#f3b35c;
	border-radius: 10px;
	margin:0 10px 0 0;
	line-height: 18px;
    padding: 0px 16px;
    background-color: #f3b35c;
    color: white;
    font-size: 12px;
    min-height: 22px;
    border-radius: 4px;
}

.button.button-positive.button-outline.button-reject{
	background-color: #e23958;
	border-color:#e23958;
	color:white;
}
.tj_list{
	border-bottom:3px solid #f93;
}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html .clearfix {display: block;}
* html .clearfix {height:1%;}
/*
.platform-android .tabs-top > .tabs, .tabs.tabs-top{
	top:auto;
}

.platform-android .has-tabs-top{
	top:auto;
}

.platform-android .has-header.has-subheader.has-tabs-top{
	top: auto;
}
.platform-android .scroll-content{
	bottom: 52px;
}
*/

.scale{
	width: 100%;
}
.searchheader{
	height: 45px;
    background-color: #f93;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    padding: 0 56px;
}
.searchheader .icon{
	font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    top: 8px;
    left: 0;
}
.searchheader .icon:last-child{
	left:auto;
	right:0;
}
.searchheader input{
    display: inline-block;
    width: 100%;
    position: relative;
    top: 6px;
    padding-left: 10px;
}
.menus{
	text-align: center;
	margin:0px auto 0;
}
.menus > a{
	display:inline-block;
	border:none;
	outline: none;
	color:#333;
	text-decoration: none;
	text-align: center;
}
.menus > a i{
	display: block;

}
.menus > a i.m_01{
	background:url(../img/home/ico-2.png) no-repeat center center;
	width:70px;
	height:40px;
	background-size: 50%;
}
.menus > a.activated i.m_01{
	/*
	background:url(../img/home/PNG07.png?1) no-repeat center center;
	width:70px;
	height:40px;
	*/
}
.menus > a i.m_02{
	background:url(../img/home/ico-3.png) no-repeat center center;;
	width:70px;
	height:40px;
	background-size: 50%;
}
.menus > a.activated i.m_02{
	/*
	background:url(../img/home/PNG09.png?1) no-repeat center center;;
	width:70px;
	height:40px;
	*/
}
.menus > a i.m_03{
	background:url(../img/home/ico-1.png) no-repeat center center;;
	width:70px;
	height:40px;
	background-size: 50%;
}
.menus > a i.m_04{
	background:url(../img/home/ico-4.png) no-repeat center center;;
	width:70px;
	height:40px;
	background-size: 50%;
}
.menus > a.activated i.m_04{
	/*
	background:url(../img/home/PNG12.png?1) no-repeat;
	width:70px;
	height:40px;
	background-size: 50%;
	*/
}
.menus > a i.m_05{
	background:url(../img/me/ico-1.png) no-repeat center center;
	width:80px;
	height:30px;
	background-size: 50%;
}
.menus > a i.m_06{
	background:url(../img/me/PNG07.png) no-repeat center center;
	width:80px;
	height:30px;
	background-size: 50%;
}
.menus > a i.m_07{
	background:url(../img/me/ico-5.png) no-repeat center center;
	width:80px;
	height:30px;
	background-size: 50%;
}
.menus > a i.m_08{
	background:url(../img/me/ico-3.png) no-repeat center center;
	width:80px;
	height:30px;
	background-size: 50%;
}
.menus > a i.m_09{
	background:url(../img/me/ico-2.png) no-repeat center center;
	width:80px;
	height:30px;
	background-size: 50%;
}
.menus > a i.m_10{
	background:url(../img/me/ico-5.png) no-repeat center center;
	width:80px;
	height:30px;
	background-size: 50%;
}
.menus.memenus{
	margin-top:10px;
	display: -webkit-box;
	text-align: left;
}
.menus.memenus > a i{
	width: 4.7rem;
    height: 3rem;
}
.tj_list .main_tj{
	float:left;
	width:50%;
}
.tj_list .sub_tj{
	float: right;
	width:50%;
}
.homepage{
	margin-top:45px;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.market-header{
  height:45px;
  line-height: 45px;
  position: fixed;
  background-color:#f93;
  font-size: 14px;
  width: 100%;
  text-align: center;
  z-index: 10000;
}
.market-header i{
	position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    color: white;
}
.market-header i.activited{
	color:#f90;
}
.market-list{
	padding-left:70px;
}
.market-list{
	text-decoration: none;
	font-size: 14px;
	border-bottom:1px solid #d7d7d7;
	clear:both;
	display: block;
}
.market-list >  div{
	height:140px;
	position: relative;
}
.market-list > div:first-child{
	float: left;
    width: 70px;
    margin-left: -70px;
    position: relative;
    top: 14px;
}
.market-list h2{
	white-space: nowrap;
    text-overflow: ellipsis;
    display: inline;
}
.market-list > div img{
	width: 60px;
	height:60px;
	border:1px solid #ccc;
	padding:1px;
    position: relative;
    left: 10px;
    border-radius:2px;
}
.market-list > div:last-child{
	padding-left: 25px;
	padding-right:10px;
    text-overflow: ellipsis;
    position: relative;
    top: 8px;
}
.market-list span{
	color:#999;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.market-list h2{
	color:#000;
	font-size: 14px;
	text-overflow: ellipsis;
}
.market-list .buy{
	display: inline-block;
    text-align: center;
    padding-left: 17px;
    background-color: #f93;
    color: white;
    text-decoration: none;
    padding: 0px 11px;
    position: absolute;
    bottom: 25px;
    left: 20px;
    border-radius: 5px;
}
.market-list .actions{
	position: relative;
    height: 44px;
    margin-top: 0px;
    padding-top: 2px;
    left: 9px;
}
.market-list .actions i:first-child{
	float: left;
    width: 18px;
    height: 20px;
    border: 1px solid #ccc;
    color: #000;
    margin-left: 6px;
    text-align: center;
    border-radius: 3px 0 0 3px;
}
.market-list .actions input{
	float: left;
    width: 28px;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    height: 20px;
    text-align: center;
}
.market-list .actions i:last-child{
	float: left;
    width: 18px;
    height: 20px;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;
}
.market-list div.center span{
	display: inline-block;
	width:32%;
	font-size: 12px;

}
.box-category{
	display: -webkit-box;
    padding-top: 1.5rem;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
}
.box-category, .category-left, .category-right{
	box-sizing: border-box;
    z-index: 1;
}
.category-left{
	width: 5.4375rem;
}
.category-right{
	-webkit-box-flex: 1;
    padding: 0 .25rem;
    border-left: 1px solid #ddd;
    background: #fff;
}
.category-left a{
    width: 100%;
    display: block;
    color: #333;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
.category-left a.active{
	border-left: 6px solid #ff5000;
	display: block;
	color:#ff5000;
	background-color:white;
}
.category-right .subtitle{
	color:#999;
	height:40px;
	line-height: 40px;
	font-size: 14px;
}
.category-right ul li{
	color: #333;
    float: left;
    display: block;
    width: 45%;
    text-align: center;
    margin-left: 2%;
    margin-bottom:15px;
    margin-top:15px;
}
.category-right ul li img{
	display: block;
    width: 90%;
    margin: 2% auto;
}

.market-header span{
	color:white;
	font-size: 1rem;
}

.webkitbox{
	display: -webkit-box;
}
.webkitbox > div{
	-webkit-box-flex: 1;
	color:#999;
	font-size: 12px;
	width:50%;
}
.track-tabs{
	height:36px;
	line-height: 36px;
	font-size: 14px;
	display: -webkit-box;
}

.track-tabs span{
	display: block;
	-webkit-box-flex: 1;
	text-align: center;
	color:#656565;
}

.track-tabs span.selected{
	color:#ff9933;
	border-bottom: 2px solid #ff9933
}
.sub-promotion span{
	font-size: 12px;
}
.feedback textarea{
    width: 100%;
    height: 14rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}
.feedback button.button.button-light{
	background-color:#6eb3f8;
	color:white;
}
.rejectPage input{
	width:100%;
	margin-top:6px;
}
.rejectPage ion-item div{
	line-height: 30px;
}
.emptydata{
    color: #333;
    text-align: center;
    margin-top: 30px;
}
.unread{
	position: absolute;
    right: 10px;
    top: 5px;
    background-color: rgba(15,100,200,0.7);
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
}